* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: $fontFamily;
}

body.no-scroll {
  overflow: hidden;
}

h1 {
  font-family: $fontFamily;
  font-style: normal;
  font-weight: normal;
  font-size: 2.75rem;
  line-height: 130%;

  @media (max-width: $tablet-width) {
    font-size: 1.5625rem;
    line-height: 130%;
    letter-spacing: 1.17px;
  }
}

h2 {
  font-family: $fontFamily;
  font-style: normal;
  font-weight: normal;
  font-size: 2.75rem;
  line-height: 130%;

  @media (max-width: $tablet-width) {
    font-size: 1.5625rem;
    line-height: 130%;
    letter-spacing: 1.17px;
  }
}

h3 {
  font-family: $fontFamily;
  font-style: normal;
  font-weight: normal;
  font-size: 2.1875rem;
  line-height: 130%;
  letter-spacing: 2.1px;

  @media (max-width: $tablet-width) {
    font-size: 1.5625rem;
    line-height: 130%;
    letter-spacing: 0.06em;
  }
}

h4 {
  font-family: $fontFamily;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 115%;

  letter-spacing: 1.17px;

  @media (max-width: $tablet-width) {
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
  }
}

h5 {
  font-family: $fontFamily;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9375rem;
  line-height: 110%;

  letter-spacing: 0.06em;

  @media (max-width: $tablet-width) {
    font-size: 13px;
    line-height: 167%;
    letter-spacing: 0.07em;
  }
}

p {
  font-family: $fontFamily;
  font-size: 0.9375rem;
  line-height: 160%;
}

a {
  text-decoration: none;
}
