.skill-card {
  display: flex;
  flex-direction: column;
  justify-content: start;

  background-color: $gray;
  color: $color-primary;

  height: auto;
  padding: 25px 20px;
  box-shadow: $card-shadow;
  position: relative;
  margin: 0.5rem 1rem;
  transition: box-shadow 0.25s;
  border-radius: 2px;
  width: 400px;

  @media (max-width: $mobile-big-width) {
    width: 300px;
  }

  .skill-title {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8em;
    line-height: 110%;
  }

  .skill-progress-div {
    margin-bottom: 22px;

    p {
      color: #ffffff;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 0.9375rem;
      line-height: 160%;
      display: flex;
      justify-content: space-between;
    }
  }

  .skill-progress {
    position: relative;
    background-color: #1c1c1c;
    margin: 15px 0;
    height: 3px;
    z-index: 0;
    overflow: visible;
    display: block;
    width: 100%;
    border-radius: 2px;
  }
  .skill-determinate {
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #ffffff;
    transition: width 0.3s linear;
    height: 3px;

    .skill-determinate-circle {
      position: absolute;
      right: 0%;
      top: -7px;
      font-size: 18px;
      background-color: $color-primary;
      width: 18px;
      height: 18px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;

      transform: translate(10px, 0px) scale(0);
      transition: all 0.8s ease 0s;

      &.anim-active {
        transform: translate(0px, 0px) scale(1);
      }
    }
  }
}
