$color-light-text: #ffffff;
$color-dark-text: #ffffff;
$color-button: #00bcd4;
$color-button_hover: #068fa1;
$gray: #424242;
$light-gray: #606060;
$blue: #00bcd4;

$color-primary: #ffffff;
$color-primary-light: #a7a7a7;
$color-dark-text: #292929;
$color-light-xl: #ffffff;
$color-light-l: #f6f6f6;
$color-light-s: #fafafa;
$color-dark-s: #cdcdcd;
$color-dark-l: #545454;
$color-dark-m: #b2b2b2;
$color-dark-3xl: #292929;
$color-overlay: rgba(41, 41, 41, 0.6);
$color-modal: $color-light-s;

$gray: #424242;
$light-gray: #606060;
$blue: #00bcd4;

$text-shadow: -1px -1px 1px $gray, 1px 1px 1px $gray, 1px -1px 1px $gray,
  -1px 1px 1px $gray;

$card-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

$content-width: 80rem;
$contentModal-width: 1000px;
$tablet-width: 834px;
$mobile-big-width: 35.875rem;
$mobile-small-width: 20rem;
