.portfolios {
  padding: 30px 0;
  background-color: transparent;
  padding-top: 80px;
  margin-top: -80px;

  &__name {
    text-align: center;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 500;
    color: $light-gray;
    margin: 30px 0;
    font-size: 2em;
    font-weight: 550;

    transform: scale(0);
    transition: all 0.8s ease 0s;

    &.anim-active {
      transform: scale(1);
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &_filter {
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
    margin-bottom: 30px;

    transform: scale(0);
    transition: all 0.8s ease 0s;
    li {
      color: $light-gray;
      cursor: pointer;
      text-transform: uppercase;
      padding: 10px 10px;
      font-weight: 600;
    }

    &.anim-active {
      transform: scale(1);
    }
  }

  .active-tab {
    border-bottom: 2px solid #00bcd4;
  }

  .filter-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 50px;
    min-height: 420px;

    @media (max-width: $tablet-width) {
      flex-direction: column;
      align-items: center;
      margin: 0 10px;
    }

    .filter-item {
      width: 0;
      height: 0;
      position: relative;
      margin: 10px;
      background-color: #fff;
      border-radius: 2px;
      box-shadow: $card-shadow;
      transition: height 350ms ease-in-out, width 350ms ease-in-out,
        padding 350ms ease-in-out;
      overflow: hidden;
      display: none;

      &.active-item {
        width: 300px;
        height: 400px;
        overflow: visible;
        display: flex;
        visibility: visible;

        @media (max-width: $mobile-big-width) {
          width: 230px;
          height: 290px;
        }

        img {
          width: 100%;
          transform: translate(0, 50%) scale(2);
        }
      }
    }
  }
}

#root {
  margin: 200px auto;
}
