.card-modal-content {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  padding: 0 30px 30px 30px;

  @media (max-width: $contentModal-width) {
    padding: 0 30px 30px 30px;
  }

  @media (max-width: $mobile-big-width) {
    padding: 0 10px 10px 10px;
  }

  .info-title {
    font-size: 2.1875rem;
    line-height: 130%;
    letter-spacing: 2.1px;
    color: $color-dark-text;
    margin-bottom: 20px;
    margin-left: 30px;
  }

  .card-modal-body {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media (max-width: $contentModal-width) {
      flex-direction: column;
    }
  }

  .card-modal-img {
    width: 66%;
    height: 66%;
    padding-right: 15px;
    padding-left: 15px;

    @media (max-width: $contentModal-width) {
      width: 100%;
    }

    @media (max-width: $mobile-big-width) {
      padding: 0;
    }
  }

  .card-modal-info {
    position: relative;
    width: 33.33333333%;
    padding-right: 15px;
    padding-left: 15px;
    color: $color-dark-text;

    @media (max-width: $contentModal-width) {
      width: 100%;
    }
  }

  .info-title {
    font-size: 2.1875rem;
    line-height: 130%;
    letter-spacing: 2.1px;
    color: $color-dark-text;
  }

  .info-title::first-letter {
    text-transform: uppercase;
  }

  .info-subtitle {
    margin-top: 10px;
    @media (max-width: $content-width) {
      margin-top: 10px;
    }
    @media (max-width: $tablet-width) {
      margin-top: 5px;
      font-size: 1.25rem;
      line-height: 115%;
    }
  }

  .info-paragraph {
    margin: 10px 0;

    line-height: 115%;
    @media (max-width: $content-width) {
      margin-top: 20px;
      font-size: 13px;
      line-height: 115%;
    }
    @media (max-width: $tablet-width) {
      margin-top: 10px;
      text-align: justify;
    }
  }

  .info-list {
    margin-bottom: 20px;
    li {
      color: $color-primary;
    }
    li h5 {
      font-weight: 800;
      margin-bottom: 10px;
      color: $color-dark-text;
      span {
        font-weight: 400;
      }
    }

    @media (max-width: $tablet-width) {
      margin-top: 10px;
      text-align: start;
      li h5 {
        margin-top: 5px;
      }
    }
  }

  .buttons_modal {
    margin-bottom: 20px;

    & a {
      margin: 10px 10px 0 0;
    }
  }
}
