.card-icon {
  height: 113px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: $content-width) {
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
  }

  .card-icon_text {
    margin-top: 30px;

    @media (max-width: $content-width) {
      margin-top: 20px;
      font-size: 15px;
      line-height: 110%;
      letter-spacing: 0.06em;
    }
  }
  .card-icon_text:first-letter {
    text-transform: uppercase;
  }
}
