.header__menu {
  align-self: center;

  @media (max-width: $tablet-width) {
    width: 30px;
    margin-right: 15px;
  }

  .menu__btn {
    display: none;
    align-items: center;

    width: 30px;
    height: 30px;

    cursor: pointer;

    @media (max-width: $tablet-width) {
      display: flex;
    }

    span,
    span::before,
    span::after {
      display: block;
      position: absolute;
      z-index: 3;
      width: 30px;
      height: 2px;

      background-color: $color-dark-text;

      transition-duration: 0.3s;
    }

    span::before {
      content: '';
      top: -10px;
    }

    span::after {
      content: '';
      top: 10px;
    }
  }

  #menu__toggle {
    display: none;
  }

  .menu__container {
    @media (max-width: $tablet-width) {
      width: 100%;
      height: 100vh;

      position: fixed;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.6);
      z-index: 1;
      visibility: hidden;
    }

    .navigation__container {
      visibility: visible;
      display: flex;
      width: 32.68rem;
      justify-content: space-between;
      list-style-type: none;

      @media (max-width: $tablet-width) {
        position: fixed;
        top: 0;
        left: 100%;
        color: $color-dark-text;
        width: 320px;
        height: 100vh;
        margin: 0;
        padding: 0;
        background-color: $color-light-text;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
        transition-duration: 0.3s;
        z-index: 2;
      }
    }

    .navigation {
      visibility: visible;
      display: flex;
      width: 32.68rem;
      justify-content: space-between;
      list-style-type: none;

      @media (max-width: $tablet-width) {
        width: 320px;
        height: calc(100% - 80px);
        position: relative;
        top: 80px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        color: $color-light-s;
        overflow: scroll;
        margin: 0;
        padding: 0;

        list-style: none;
      }

      &__item {
        color: $color-dark-text;
        font-family: $fontFamily;
        font-style: normal;
        font-weight: 400;
        font-size: 0.94rem;
        line-height: 160%;

        @media (max-width: $tablet-width) {
          display: block;
          padding: 0;
          margin-top: 40px;

          font-family: $fontFamily;
          font-style: normal;
          font-weight: normal;
          font-size: 32px;
          line-height: 160%;

          text-decoration: none;
          transition-duration: 0.25s;
        }
      }

      &__item:first-child {
        @media (max-width: $tablet-width) {
          margin-top: 10px;
        }
      }

      &__item:first-letter {
        text-transform: uppercase;
      }

      &__item:hover {
        cursor: pointer;
        color: $blue;
      }
      &__item.inactive:hover {
        cursor: default;
        color: $color-dark;
      }
      &__item_link {
        color: inherit;
        text-decoration: none;
      }
      .active {
        color: $blue;
      }
    }
  }

  #menu__toggle:checked ~ .menu__btn {
    position: fixed;
    top: 25px;
    z-index: 3;
  }

  #menu__toggle:checked ~ .menu__btn span {
    transform: rotate(-90deg);
  }

  #menu__toggle:checked ~ .menu__container {
    visibility: visible;
    .navigation__container {
      visibility: visible;
      left: calc(100% - 320px);
    }
  }
}
