#parallax-image {
  position: relative;
  width: 100%;
  background-image: url('./assets/images/depth-3.png'),
    url('./assets/images/depth-2.png'), url('./assets/images/depth-1.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @media (max-width: $tablet-width) {
    background-position: 50% 75%, 50% 75%, 50% 75%;
  }
}