.skill-card {
  display: flex;
  flex-direction: column;
  justify-content: start;

  background-color: $gray;
  color: $color-primary;

  height: auto;
  padding: 25px 20px;
  box-shadow: $card-shadow;
  position: relative;
  margin: 0.5rem 1rem;
  transition: box-shadow 0.25s;
  border-radius: 2px;
  width: 400px;

  @media (max-width: $mobile-big-width) {
    width: 300px;
  }

  .skill-title {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 600;
    font-family: $fontFamily;
    font-size: 1.8em;
    line-height: 110%;
  }

  .skill-progress-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 45px;

    @media (max-width: $mobile-big-width) {
      padding: 0 25px;
    }

    li {
      transform: translate(0px, 120%);
      opacity: 0;
      transition: all 0.8s ease 0.3s;
      line-height: 115%;

      &.anim-active {
        transform: translate(0px, 0px);
        opacity: 1;
      }
      .skill-name {
        color: #ffffff;
        font-family: $fontFamily;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 160%;
        display: flex;
        justify-content: space-between;
        margin: 10px 0px;
      }
    }
  }
}
