.education {
  padding-top: 80px;
  background: $color-background-light;
  border-bottom: 1px solid rgba(0, 0, 0, 0.01);

  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;

    @media (max-width: $content-width) {
      padding: 0 20px;
    }

    @media (max-width: $tablet-width) {
      padding: 0 10px;
    }
  }

  .project-name {
    text-align: center;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 500;
    color: $color-dark-text;
    font-size: 2em;
    margin-bottom: 50px;
    font-weight: 550;

    transform: scale(0);
    transition: all 0.8s ease 0s;

    &.anim-active {
      transform: scale(1);
    }
  }
}
